.daelis-wow-tooltip {
    width: 300px;
    background: #080d21eb;
    font-family: Verdana,"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    border: 3px solid #cfcfcf;
    border-radius: 10px;
    padding: 4px 8px;
}
.dwt-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dwt-columns > span:nth-child(even) {
    text-align: right;
}
.dwt-columns > span {
    min-width: 34%;
}
.dwt-name {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
}
.dwt-rarity-legendary {
    color: #ff8000;
}
.dwt-rarity-epic {
    color: #a335ee;
}
.dwt-rarity-rare {
    color: #0070dd;
}
.dwt-rarity-uncommon {
    color: #1eff00;
}
.dwt-rarity-junk {
    color: #515351;
}
.dwt-stats {
    min-height: 5px;
}
.dwt-stats-attack, .dwt-stats-strength, .dwt-stats-defensive, .dwt-stats-skills, .dwt-stats-strengthAffinities, .dwt-stats-defensiveAffinities {
    margin-top: 5px;
}
.dwt-stats-attack:empty, .dwt-stats-strength:empty, .dwt-stats-defensive:empty, .dwt-stats-skills:empty, .dwt-item-set:empty,
.dwt-item-set-effects-list:empty, .dwt-stats-defensiveAffinities:empty, .dwt-stats-strengthAffinities:empty {
    margin-top: 0;
}
.dwt-enchant, .dwt-item-skill, .dwt-set-item-equipped, .dwt-set-effect-active, .dwt-healing-use, .dwt-chest-use {
    color: #1eff00;
}

.dwt-stat-positive {
    color: #1eff00;
}

.dwt-stat-negative {
    color: orange;
}

.dwt-enchant-unactive, .dwt-set-effect-inactive, .dwt-set-item-unequipped, .dwt-soulbound {
    color: #9d9d9d;
}
.dwt-effects {
    color: #9d9d9d;
    margin-top: 5px;
}
.dwt-flavor {
    color: #ffd100;
    font-style: italic;
    font-size: 11px;
}
.tippy-box {
    background-color: transparent;
}
.dwt-item-set-name, .dwt-soulbound-block {
    color: #ffd100;
}

.dwt-ability-active {
    color: #0070dd;
}

.dwt-soulbound-level, .dwt-soulbound-exp {
    font-size: 10px;
}

.dwt-item-set, .dwt-item-set-effects-list {
    margin-top: 10px;
}
.dwt-item-set-item {
    margin-left: 10px;
}

.dwt-not-tradeable {
    color: red;
}

.dwt-yield-chance {
    font-size: 8px;
    color: #ffd100;
}